@font-face{
	font-family: BAHAMAS0;
	src:url("BAHAMAS0.TTF") format("truetype");
}
@font-face{
	font-family: bokr76w;
	src:url("bokr76w.ttf") format("truetype");
}
@font-face{
	font-family: ChaparralPro-Regular;
	src:url("ChaparralPro-Regular.otf") format("otf");
}
@font-face{
	font-family: CharlemagneStd-Bold;
	src:url("CharlemagneStd-Bold.otf") format("otf");
}





















